<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.rcb.dao.GbookDao">
	
	 <delete id="delGbookById" parameterType="String" >
	 delete  from gbook where id=#{id}
	 </delete>
	 
	 <delete id="delGbooksById" parameterType="String" >
	 delete  from gbook where id in 
	 								<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
				                    	#{item}  
               						</foreach>
	 </delete>
	 
	 <select id="findGbookByPage" parameterType="int" resultType="com.rcb.entity.Gbook">
	select 
		id,
		name,
		tel,
		mail,
		others,
		content,
		time
	 	from gbook  
		order by time desc
		limit #{page},2
	</select>
	<select id="findGbookCount" resultType="String">select count(id) from gbook</select>	
</mapper>








