<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.rcb.dao.OneMenuDao">
	<select id="findOneMenuAll" 
			  resultType="Map">
			  
		select  
			id,
			title,
			thumb,
			content,
			seq,
			isshow,
			intro 			
		from 
			one_menu 
		
	</select>
	
	<insert id="addOneMenu" 
			parameterType="com.rcb.entity.OneMenu">
			  
		insert into one_menu 
		(  
			id,
			title,
			thumb,
			content,
			seq,
			isshow,
			intro 
		)			
		values 
		(
			#{id},
			#{title},
			#{thumb},
			#{content},
			#{seq},
			#{isshow},
			#{intro}
		) 
		
	</insert>
	
	<select id="findOneMenuById" 
			parameterType="String"
			resultType="com.rcb.entity.OneMenu">
			  
		select  
			id,
			title,
			thumb,
			content,
			seq,
			isshow,
			intro 			
		from 
			one_menu 
		where id=#{id}
		
	</select>
	
	<update id="modifyOneMenu" 
			parameterType="com.rcb.entity.OneMenu">
		   
		update one_menu set
			title=#{title},
			thumb=#{thumb},
			content=#{content},
			seq=#{seq},
			isshow=#{isshow},
			intro=#{intro}
		where id=#{id}
		
	</update>
	
	
	<delete id="delOneMenuById"
			parameterType="String">
		delete from one_menu 
		where id=#{id}
	</delete>
	
</mapper>









